* {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.about_main {
    color: white;
}

.who_we_are {
    display: flex;
    gap: 10px;
    margin: 50px;
    padding: 10px;
    justify-content: center;
    justify-content: flex-start;
}

.who_we_are h3 {
    width: 20%;
    font-size: 16px;
    font-weight: 700;
}

.who_we_are p {
    width: 80%;
    line-height: 3ch;
    font-size: 20px;
    font-weight: 100;
    margin-right: 50px;
}

.about_us_cards {
    display: flex;
    justify-content: space-around;
    margin: 70px;

}

.about_card {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #1f1f1f;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 300px;
    justify-content: space-between;
}

.about_card h4 {
    text-decoration: none;
    color: rgb(253, 163, 28);
    font-size: 22px;
    background-color: #1f1f1f;
}

.about_card h4:hover {
    text-decoration: underline;
}

.about_card p {
    background-color: #1f1f1f;
    line-height: 3ch;
    font-size: 18px;
    font-weight: 100;
}

.about_card button {
    background-color: #1f1f1f;
    border: 1px solid white;
    border-radius: 40px;
    width: 150px;
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 14px;
}

.about_card a {
    background-color: #1f1f1f;
    text-decoration: none;
}

.about_card button:hover {
    text-decoration: underline;
}

.leadership_summary {
    display: flex;
    margin: 50px;
    background-color: white;
    gap: 10px;
}

.leadership_nav {
    background-color: white;
    width: 400px;
    position: sticky;
    top: 60px;
    z-index: 1000;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
}

.leadership_nav a {
    background-color: white;
    display: block;
    color: black;
    padding: 20px;
    transition: background-color 0.3s;
    text-decoration: none;

}

.leadership_nav a:hover {
    background-color: #f0f0f0;
    /* Change background on hover */
}

.leadership_description {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;

}

.child {
    background-color: white;
    width: 900px;

}

.div_child {
    display: flex;
    gap: 15px;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.leadership_description iframe {
    width: 90%;
    height: 500px;

}